# התעלם מתיקיית התלויות של Node
node_modules

# התעלם מתיקיית ה-build אם היא נוצרת מקומית
build

# התעלם מקבצי הגדרות של Git
.git
.gitignore

# התעלם מקובץ הסודות
.env

# התעלם מקבצי לוגים של npm
npm-debug.log